{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-plusplus": "off",
    "arrow-parens": ["error", "always"],
    "prefer-destructuring": "off",
    "implicit-arrow-linebreak": "off"
  }
}
